<div class="service">
  <% if object %>
    <% if options[:all_resources] %>
      <h2><%= object.to_s %> API</h2>
    <% else %>
      <h1><%= object.to_s %> API</h2>
    <% end %>
  <% end %>

  <%= yieldall %>
</div>
