<div id="footer">
  <p>
    <% if api_options['footer_copyright'] %>
      <%= api_options['footer_copyright'] %>
    <% end %>

    Generated on <%= Time.now.strftime("%c") %>
  </p>

  <%= api_options['footer_note'].to_s %>
</div>
