<% @props[:routes].each do |route| %>
  <%
    formatted_route_path = route[:path].split('/').map do |fragment|
      is_id = fragment =~ /^\:[\w|_]+/
      "<span #{'class="id-fragment"' if is_id}>#{fragment}</span>"
    end.join('/')
  %>

  <h3 class='endpoint'>
    <span class="verb <%= route[:verb].downcase %>"><%= route[:verb] %></span>
    <%= formatted_route_path %>
  </h3>
<% end %>
