<% @props[:routes].each do |route| %>
  <%
    formatted_route_path = route[:path].split('/').map do |fragment|
      is_id = fragment =~ /^\:[\w|_]+/
      "<span #{'class="id-fragment"' if is_id}>#{fragment}</span>"
    end.join('/')
  %>

  <h3 class='endpoint'>
    <span class="verb <%= route[:verb].downcase %>"><%= route[:verb] %></span>
    <%= formatted_route_path %>
  </h3>

  <% if object.has_tag?('beta') && api_options["use_beta_banner"] %>
    <h3 class="beta">
      BETA: This API endpoint is not finalized, and there could be breaking
      changes before its final release.
    </h3>
  <% end %>
<% end %>


