<% @routes.each do |route| %>
  <% route_path = route.path.spec.to_s.gsub("(.:format)", "")
     if route.verb.source =~ /\^?(\w*)\$/
       verb = $1.upcase
     else
       verb = route.verb.source
     end
   %>
  <h3 class='endpoint'>
    <span class="verb <%= verb.downcase %>"><%= verb %></span>
    <%
      formatted_route_path = route_path.split('/').map do |fragment|
        is_id = fragment =~ /^\:[\w|_]+/
        "<span #{'class="id-fragment"' if is_id}>#{fragment}</span>"
      end.join('/')
    %>
    <%= formatted_route_path %>
  </h3>
<% end %>
