<% @props[:routes].each do |route| %>
  <%
    formatted_route_path = route[:path].split('/').map do |fragment|
      is_id = fragment =~ /^\:[\w|_]+/
      "<span #{'class="id-fragment"' if is_id}>#{fragment}</span>"
    end.join('/')
  %>

  <div class='endpoint__path'>
    <span class="method-details__verb <%= route[:verb].downcase %>">
      <%= route[:verb] %>
    </span>

    <%= formatted_route_path %>
  </div>

  <% if object.has_tag?('beta') && api_options["use_beta_banner"] %>
    <p class='endpoint__beta-banner'>
      BETA: This API endpoint is not finalized, and there could be breaking
      changes before its final release.
    </p>
  <% end %>
<% end %>

