<ul class="argument">
  <% @argument_tags.each do |tag| %>
    <li>
      <code class="argument-name"><%= h tag.unscoped_name %></code>
      <span class="argument-type"><%= tag.type %></span>
      <% if (tag.accepted_values || []).any? %>
        <span class="argument-values fade">
          <em>[ <%= tag.accepted_values.join(', ') %> ]</em>
        </span>
      <% end %>

      <% if tag.is_required %>
        <em class="argument-required">Required</em>
      <% end %>

      <% if !tag.text.empty? %>
        <%= html_markup_markdown(tag.text) %>
      <% end %>
    </li>
  <% end %>
</ul>