<ul class="argument-listing">
  <% options[:argument_tags].each do |tag| %>
    <li class="argument-listing__argument">
      <div class="argument-listing__argument-details">
        <code class="argument-listing__argument-name"><%= h tag.name %></code>
        <span class="argument-listing__argument-type">
          <%= htmlify_tag_type(tag) %>
        </span>

        <% if Array(tag.accepted_values).any? %>
          <span class="argument-listing__argument-values">
            <span>[ <%= tag.accepted_values.join(', ') %> ]</span>
          </span>
        <% end %>

        <% if tag.is_required %>
          <span class="argument-listing__argument-required">Required</span>
        <% end %>
      </div>

      <div class="argument-listing__argument-text">
        <% if !tag.text.empty? %>
          <%= html_markup_markdown(tag.text) %>
        <% else %>
          <em class="type-mute">No description provided.</em>
        <% end %>
      </div>
    </li>
  <% end %>
</ul>