<% argument_tags = options[:argument_tags] %>
<% has_accepted_values = argument_tags.any? { |e| Array(e.accepted_values).any? } %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <% if has_accepted_values %><th>Accepted Values</th><% end %>
      <th>Required?</th>
      <th>Description</th>
    </tr>
  </thead>

  <tbody>
    <% argument_tags.each do |tag| %>
      <tr>
        <td><code class="argument-name"><%= h tag.name %></code></td>
        <td><span class="argument-type"><%= tag.type %></span></td>
        
        <% if has_accepted_values %>
          <td>
            <ul class="argument-values">
              <% (tag.accepted_values || []).each do |value| %>
                <li><%= value %></li>
              <% end %>
            </ul>
          </td>
        <% end %>

        <td>
          <% if tag.is_required %>
            <em class="argument-required">Yes</em>
          <% else %>
            <em class="argument-optional">No</em>
          <% end %>
        </td>

        <td>
          <% if !tag.text.empty? %>
            <%= html_markup_markdown(tag.text) %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>