<section>
  <h4 class="arguments-header">Parameters</h4>

  <% if api_options.tabular_arguments %>
    <%= erb :"argument/_table" %>
  <% else %>
    <%= erb :"argument/_list" %>
  <% end %>
</section>