<% if object.has_tag?(:example_response) %>
  <% tags = object.tags(:example_response) %>
  <div class="examples example_response">
    <% if tags.length > 1 %>
      <h4>Example Responses:</h4>
    <% else %>
      <h4>Example Response:</h4>
    <% end %>

    <% tags.each do |tag| %>
      <%= tag_partial '_example_code_block', tag %>
    <% end %>
  </div>
<% end %>
