<% name = @resource_name %>

<p class="returns-tag">
  <% if @is_list %>
    Returns a list of
  <% else %>
    Returns <%= %w[a e i o u].include?(name[0]) ? 'an' : 'a' %>
  <% end %>

  <%= link_url url_for(object), @is_list ? name.pluralize : name %>
</p>
