body {
  font-family: "Open Sans", Calibri, Candara, "Helvetica Neue", Arial, sans-serif;
  font-size: 15px;
  line-height: 1.4;
  margin: 1em;
  padding: 0;
  color: #333;
}

a {
  color: #4183c4;
}

a:hover, a:focus {
  text-decoration: none;
}

a.active {
  font-weight: bold;
}

#content {
  margin: 0 auto;
}

code {
  margin: 0 2px;
  padding: 0px 5px;
  border: 1px solid #ddd;
  background-color: #f8f8f8;
  border-radius: 3px;
  font-family: Consolas, "Liberation Mono", Courier, monospace;
  font-weight: bold;
}

h1 {
  font-size: 1.6em;
  padding: 0.6em 0;
  margin: 0.6em 0;
}

h2 {
  font-size: 1.4em;
  padding: 0.6em 0;
  margin: 0.6em 0;
}

.endpoint__beta-banner {
  border-left: 5px solid rgba(255,0,0,0.65);
  background-color: #ffc;
  padding: 0.6em;
  font-size: 85%;
}

.method-details__beta-flag {
  color: #CC0000;
  background: #fca;
  padding: 0.5em 0.6em;
  font-size: 85%;
}

#sidebar {
  position: fixed;
  overflow: auto;
  bottom: 0;
  top: 0;
  left: 1em;
}

#sidebar h1 {
  margin-bottom: 0;
  border-bottom: 1px solid #ddd;
}

#sidebar a {
  display: block;
  color: inherit;
  padding: 0.35em 0;
  text-decoration: none;
}

#sidebar a:hover {
  text-decoration: underline;
}

#sidebar a.active {
  color: #4183c4;
}

.sidebar__heading {
  color: #939da3;
  text-transform: uppercase;
  font-size: 1em;
  margin-bottom: 0.5em;
  padding-bottom: 0;
  margin-top: 1em;
}

.endpoint__path {
  font-size: 90%;
  font-weight: normal;
  font-family: Monaco, Consolas, Courier, monospace;
  padding: 1em;
  margin-top: 1em;
  background: #ffc;
}

.method-details .verb {
  font-weight: bold;
}
.method-details .id-fragment {
  color: #CC0000;
}

.method-details__defined-in {
  float:right;
  font-size:10px;
  padding-top:10px;
  opacity:0.7;
}

/* Footer */
#footer {
  margin: 1em 0;
  border-top: 1px solid #ccc;
  text-align: center;
  color: #666;
  font-size: 85%;
}

#footer a {
  color: #666;
}

/* highlight.js overrides */
pre.code, div.syntaxhighlighter {
  font-family: Monaco, Consolas, Courier, monospace;
  background-color: #ffd;
  font-size: 85%;
  overflow: auto;
  padding: 0.5em 1em;
}

.syntaxhighlighter .line code, pre.code code, .endpoint-errors code {
  white-space: nowrap;
  background: none;
  border: none;
  font-weight: normal;
  margin: auto;
  padding: 0;
  border-radius: 0;
}

.syntaxhighlighter {
  overflow: auto;
}

td.code textarea { display: none; }

table#quicklinks {
  width: 100%;
}
table#quicklinks tr {
  border: 1px solid black;
}
table#quicklinks td a {
  padding: 6px;
}
table#quicklinks th {
  font-weight: bold;
  padding: 12px;
}

a.method-details__name-link {
  text-decoration: none;
  color: inherit;
}

div.appendix img {
  max-width: 100%;
}

.example-title {
  padding: 5px 0;
  font-size: 11px;
  font-weight: bold;
  color: #777;
}

blockquote {
  border-left: 4px solid #DDD;
  padding: 0 15px;
  color: #777;
  margin: 15px 0;
}

blockquote.warning {
  border-color: orange;
}

table.endpoint-errors {
  border-collapse: collapse;
  width: 100%;
  background: #fff;
  font-size: 12px;
}

.endpoint-errors tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}

.endpoint-errors tbody tr:nth-child(even) {
  background-color: #f5f5f5;
  transition: all .125s ease-in-out;
}
.endpoint-errors thead {
  background: #f5f5f5;
}

.endpoint-errors th {
  font-weight: bold;
  white-space: nowrap;
  font-size: 12px;
  line-height: 18px;
}

.endpoint-errors td, .endpoint-errors th {
  vertical-align: top;
  text-align: left;
  padding: 5px;
}

.endpoint-errors th:first-of-type,
.endpoint-errors td:first-of-type {
  width: 160px;
}

hr {
  border: none;
  border-top: 1px solid #ccc;
}

.emits-tag {
}

/* --------------------------------------------------------------------------
 * ARGUMENTS
 * -------------------------------------------------------------------------- */
h4 {
  margin: 2em 0;
  padding: 1em 0;
  border-bottom: 1px solid #ccc;
  color: #666;
}

.argument-listing {
  list-style: none;
  margin: 0;
  padding: 0;
}

.argument-listing__argument {
  padding: 0;
  margin: 2em 0;
  display: block;
  min-height: 4em;
}

.argument-listing__argument-details {
  /*display: inline-block;*/
  width: 40%;
  max-width: 260px;
  text-align: right;
  vertical-align: top;
  float: left;
}

.argument-listing__argument-name,
.argument-listing__argument-type,
.argument-listing__argument-values,
.argument-listing__argument-required {
  display: block;
}

code.argument-listing__argument-name {
  border: none;
  padding: 0;
  margin: 0;
  overflow: auto;
}

/* fade these out to give more emphasis to the name */
.argument-listing__argument-type,
.argument-listing__argument-values,
.argument-listing__argument-required {
  font-size: 85%;
  color: #777;
}

.argument-listing__argument-required {
  font-style: normal;
  color: #CC0000;
  font-weight: bold;
  opacity: 0.6;
}

.argument-listing__argument-text {
  vertical-align: top;
  margin-left: 1em;
  margin-left: 260px;
  padding-left: 1em;
}

.argument-listing__argument-text > p {
  margin-top: 0;
}

.example-codeblocks__tabs {
  margin-bottom: -0.5em; /* negate the margin of the example block */
  background: #ffc;
  padding: 0.5em 1em;
  font-size: 85%;
}

.example-codeblocks__tab {
  margin-right: 0.5em;
  cursor: pointer;
}

.example-codeblocks__tabs a.active {
  font-weight: bold;
}